### Mac ###
.DS_Store

### Package Files ###
*.jar
*.war
*.ear
/target

### MAVEN ###
target
logs
.target/
.**/target/
**/target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
.idea/**
*.iws
*.iml
*.ipr
**/*.iml
.*.iml

### Gradle ###
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
/out/
/**/out/
.generated/
.**/generated/
**/generated/
